 <h1 class="h1"><strong>artwork to rent</strong></h1>


 <div class="filter">
  <%= form_tag artworks_path, method: :get do %>
  <%= select_tag "artworks", options_for_select(Artwork.pluck(:category), "oil") %>
  <%= number_field_tag "min_price", placeholder: 0 %>
  <%= number_field_tag "max_price", placeholder: 10000 %>
  <%= hidden_field_tag "query", params[:query]%>
  <%= submit_tag "Search", class: "btn btn-outline-warning" %>
    <% end %>
</div>


 <div class="container-index">
    <div class="leftside">
    </div>

    <div class="rightside">
    <div class="cards">
      <% @artworks.each do |artwork| %>
      <%= link_to artwork_path(artwork) do %>
      <div class="card-art">
        <% if artwork.photos.attached? %>
        <%= cl_image_tag artwork.photos.first.key, class: "img" %>
        <% else %>
          <img class="img" src="https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="painting">
        <% end %>

        <div>
          <p class="p"><%="#{artwork.title}, #{artwork.artist}" %></p>
        </div>
          <div class="price-and-category">
            <p class="p"><%= artwork.category %></p>
            <h2 class="h2">£99.99</h2>
          </div>
      </div>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
 <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
