<!DOCTYPE html>
<html>
  <head>
    <title>ArtSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
     <!-- <div class="nav-container"> -->
      <div class="wrapper">
        <nav>
          <ul class="nav-items">
            <li>
              <%= link_to 'Home', root_path%>
            </li>

            <li>
              <%= link_to "Contact", root_path%>
            </li>

            <li>
              <%= link_to "Art Swap", root_path%>
            </li>

            <li>
              <%= link_to "Log in", root_path%>
            </li>

            <li>
              <%= link_to "Search", artworks_path%>
            </li>

          </ul>
        </nav>
     </div>
    <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
